body, h1, h2, h3, h4, h5, h6, div, ul, ol, li, dl, dt, dd, p, span, a, i, em, b, strong, big, small, img, input, label, form, textarea, select, option {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Microsoft Yahei", Arial, SimSun;
}
body{
    background-color: #efefef;
}
a, a:hover, a:active, a:valid, a:target {
    text-decoration: none;
    color: #aaaaaa;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.w1349{
    margin: 0 auto;
    width: 1120px;
}
.yun_all{
    min-width: 1349px;
}
.yun_all .yun_nav{
    height: 50px;
    width: 100%;
    background-color: #363840;
    color: #fff;
}
.yun_all .yun_nav .nav_left_ele{
    float: left;
    padding: 0 15px 0 15px;
    line-height: 50px;
}
.yun_all .yun_nav .nav_left_yun{
    padding: 13px 15px 12px 15px;
    height: 25px;
    width: 72px;
}
.yun_all .yun_nav .nav_left_find{
    color: #fff;
}
.yun_all .yun_nav .nav_left_ele:hover{
    color: #fff;
}
.yun_all .yun_nav .nav_right{
    width: 440px;
    height: 50px;
    line-height: 50px;
    float: right;
}
.yun_all .yun_nav .nav_right .nav_right_ele{
    padding: 0 15px 0 15px;
    float: left;
}
.yun_all .yun_nav .nav_right .nav_right_ele i{
    display: inline-block;
    width: 17px;
    height: 16px;
    vertical-align:-12%;
    background: url("../image/serach.png");
    background-position: -5px -7px;
}
.yun_all .yun_nav .nav_right .nav_right_search span{
    line-height: 51px;
    padding: 0px;
}
.yun_all .yun_nav .nav_right .nav_right_ele input[name=input]{
    width: 180px;
    height: 28px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.yun_all .yun_nav .nav_right .nav_right_send{
    width: 60px;
}
.yun_all .yun_nav .nav_right .nav_right_send span{
    display: inline-block;
    font-size: 12px;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 26px;
    background-color: #4a90e2;
    color: #fff;
    vertical-align: middle;
}
.yun_all .yun_nav .nav_right span .nav_right_ele:hover{
    color: #fff;
}
.yun_all .group{
    margin: 0 auto;
    width: 1120px;
}
.yun_all .mobile-hide{
    margin: 0 auto;
    width: 1120px;
    height: 85px;
    margin-bottom: 25px;
}
.yun_all .mobile-hide .group_box{
    margin: 15px;
    width: 156px;
    height: 55px;
    float: left;
    background: red;
}
.yun_all .mobile-hide a:nth-child(1) .group_box{
    background: url("../image/edit.jpg");
    background-size: 100% 100%;
}
.yun_all .mobile-hide a:nth-child(2) .group_box{
    background: url("../image/world.jpg");
    background-size: 100% 100%;
}
.yun_all .mobile-hide a:nth-child(3) .group_box{
    background: url("../image/school.jpg");
    background-size: 100% 100%;
}
.yun_all .mobile-hide a:nth-child(4) .group_box{
    background: url("../image/event.jpg");
    background-size: 100% 100%;
}
.yun_all .mobile-hide a:nth-child(5) .group_box{
    background: url("../image/photo.jpg");
    background-size: 100% 100%;
}
.yun_all .mobile-hide a:nth-child(6) .group_box{
    background: url("../image/one.jpg");
    background-size: 100% 100%;
}
.yun_all .group{
    position: relative;
    height: 493px;
}
.yun_all .group .menu{
    width: 100%;
    margin: 15px;
    float: left;
}
.yun_all .group .menu .menu_title h1{
    width: 118px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    display: inline-block;
    font-weight: 500;
    font-family: "微软雅黑";
    color: #666;
    font-variant: normal;
}
.yun_all .group .menu .menu_title span{
    color: #aaa;
}
.yun_all .group .menu .menu-subtitle a{
    position: absolute;
    top: 25px;
    left: 1024px;
    color: #fb666a;
    float: right;
}
.yun_all .group .grid{
    position: absolute;
    width: 1125px;
    top: 45px;
}
.yun_all .group .grid .grid_item_big{
    position: relative;
    margin: 15px;
    width: 418px;
    height: 418px;
    float: left;
}
.yun_all .group .grid .grid_item_big .cover_img a img{
    width: 418px;
    height: 418px;
}
.yun_all .group .grid .grid_item_big .cover_title{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #fff;
}
.yun_all .group .grid .grid_item{
    position: relative;
    margin: 15px;
    width: 195px;
    height: 195px;
    float: left;
    background: rebeccapurple;
}
.yun_all .group .grid .grid_item .cover_img a img{
    width: 195px;
    height: 195px;
}
.yun_all .group .grid .grid_item .cover_title{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    width: 185px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    bottom: 0px;
    color: #fff;
}
.yun_all div:nth-child(4){
    height: 295px;
}
.yun_all .group .menu .menu_title2{
    position: relative;
}
.yun_all .group .menu .menu_title2 h1{
    width: 250px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    display: inline-block;
    font-weight: 500;
    font-family: "微软雅黑";
    color: #666;
    font-variant: normal;
}
.yun_all .group .menu .menu-subtitle2{
    display: inline-block;
    width: 80px;
    float: left;
    height: 20px;
    top: 29px;
    right: 12px;
    position: absolute;
    text-align: right;
}
.yun_all .group_kan a img{
    margin: 0 15px 0 15px;
    width: 1095px;
    height: 80px;
}
.yun_all div:nth-child(6){
    height: 720px;
    margin-bottom: 70px;
}
.yun_all .footer{
    margin: 0px auto;
    width: 1095px;
    height: 97px;
    margin-top: 40px;
    padding-top: 10px;
    border-top: #ddd 1px solid;
    color: #aaa;
    text-align: center;
}
.yun_all .footer .link{
    width: auto;
    color: #999;
    padding: 5px 0px 15px 5px;
    text-align: left;
    font-size: 12px;
    line-height: 25px;
}
.yun_all .footer .footer_img{
    display: inline-block;
    margin-bottom: 10px;
    width: 151px;
    height: 21px;
    float: left;
    margin-top: 10px;
}
.yun_all .footer .footer_img img{
    width: 100%;
    height: 100%;
}
.yun_all .copyright{
    display: inline-block;
    line-height: 20px;
    float: right;
    text-align: right;
}
